#
# Executes commands at the start of an interactive session.
#
# Authors:
#   Sorin Ionescu <sorin.ionescu@gmail.com>
#

# Source Prezto.
if [[ -s "${ZDOTDIR:-$HOME}/.zprezto/init.zsh" ]]; then
  source "${ZDOTDIR:-$HOME}/.zprezto/init.zsh"
fi

# Customize to your needs...

# Example aliases
alias zshconfig="vim ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"

# Uncomment the following line to use case-sensitive completion.
# CASE_SENSITIVE="true"

# Uncomment the following line to disable bi-weekly auto-update checks.
# DISABLE_AUTO_UPDATE="true"

# Uncomment the following line to change how often to auto-update (in days).
# export UPDATE_ZSH_DAYS=13

# Uncomment the following line to disable colors in ls.
# DISABLE_LS_COLORS="true"

# Uncomment the following line to disable auto-setting terminal title.
# DISABLE_AUTO_TITLE="true"

# Uncomment the following line to disable command auto-correction.
# DISABLE_CORRECTION="true"

# Uncomment the following line to display red dots whilst waiting for completion.
# COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
# DISABLE_UNTRACKED_FILES_DIRTY="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# The optional three formats: "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
# HIST_STAMPS="mm/dd/yyyy"

# Would you like to use another custom folder than $ZSH/custom?
# ZSH_CUSTOM=/path/to/new-custom-folder


# User configuration

## PATH
export ZSH_HOME=$HOME/.zsh
export MANPATH=/usr/local/man:$MANPATH
export JAVA_HOME=$(/usr/libexec/java_home)
export ANDROID_HOME=/usr/local/Cellar/android-sdk/23.0.2
export GOPATH=$HOME/golang

# デフォルトでは /usr/bin/ が /usr/local/bin/ より先にあるので /usr/local/bin/ を優先させる
export PATH=/usr/local/bin:$PATH
export PATH=$HOME/bin:$PATH
export PATH=$HOME/.cabal/bin:$PATH
# android コマンドは /usr/local/bin/android を優先させる
export PATH=$PATH:$ANDROID_HOME/tools:$ANDROID_HOME/platform-tools
export PATH=$HOME/.nodebrew/current/bin:$PATH
export PATH=$HOME/.ssh/sh:$PATH
export PATH=$GOPATH/bin:$PATH

# 履歴ファイルの保存先
export HISTFILE=${HOME}/.zsh_history
# メモリに保存される履歴の件数
export HISTSIZE=1000
# 履歴ファイルに保存される履歴の件数
export SAVEHIST=100000
# 重複を記録しない
setopt hist_ignore_dups
# スクリーン間で履歴を共有する
setopt share_history
# 開始と終了を記録
setopt EXTENDED_HISTORY
# ヒストリに追加されるコマンド行が古いものと同じなら古いものを削除
setopt hist_ignore_all_dups
# スペースで始まるコマンド行はヒストリリストから削除
setopt hist_ignore_space
# ヒストリを呼び出してから実行する間に一旦編集可能
setopt hist_verify
# 余分な空白は詰めて記録
setopt hist_reduce_blanks
# 古いコマンドと同じものは無視
setopt hist_save_no_dups
# historyコマンドは履歴に登録しない
setopt hist_no_store
# 補完時にヒストリを自動的に展開
setopt hist_expand
# 補完
autoload -U compinit
compinit
# Disable start/stop control
stty -ixon
# PATH の重複エントリを削除する
typeset -U path PATH


# You may need to manually set your language environment
export LANG=ja_JP.UTF-8

# Preferred editor for local and remote sessions
 if [[ -n $SSH_CONNECTION ]]; then
   export EDITOR='vim'
 else
   export EDITOR='vim'
 fi

# Compilation flags
# export ARCHFLAGS="-arch x86_64"

# ssh
# export SSH_KEY_PATH="~/.ssh/dsa_id"

# Start screen
#[[ $TERM != "screen" ]] && exec screen

# tmux
[[ "$TMUX" = "" ]] && exec tmux
#if [ "$TMUX" = "" ]; then tmux; fi

#==============================
#  Aliases
#==============================
alias vi='vim'
alias lt='ls -t'
alias rm='rm -i'
alias cp='cp -i'
alias git='hub'
alias gfe='git fetch'
alias gdf='git diff HEAD..FETCH_HEAD'
alias gmf='git merge FETCH_HEAD'
alias gs='git status'
alias gp='git push'
alias gc='git commit'


#==============================
#  cdr
#==============================
autoload -Uz chpwd_recent_dirs cdr add-zsh-hook
add-zsh-hook chpwd chpwd_recent_dirs
zstyle ':chpwd:*' recent-dirs-max 5000
zstyle ':chpwd:*' recent-dirs-default yes
zstyle ':completion:*' recent-dirs-insert both

#==============================
#  zaw
#==============================
source ~/.zsh/zaw/zaw.zsh
# 絞り込みをcase-insensitive に
zstyle ':filter-select' case-insensitive yes
bindkey '^@' zaw
bindkey '^r' zaw-history
bindkey '^s' zaw-cdr
#bindkey '^o' zaw-open-file
bindkey '^j' zaw-applications
bindkey '^g' zaw-git-branches
bindkey '^o' zaw-git-status
bindkey '^z' zaw-git-files

#==============================
#  Docker
#==============================
export DOCKER_HOST=tcp://192.168.59.103:2375
alias docker="sudo docker -H $DOCKER_HOST"

#==============================
#  Gradle
#==============================
# Always run as daemon
export GRADLE_OPTS='-Dorg.gradle.daemon=true'

#==============================
#  zsh-notify
#==============================
# Yosemite と相性が悪いのでいったんコメントアウト
#source ~/.zsh/zsh-notify/notify.plugin.zsh
#export SYS_NOTIFIER="/usr/local/bin/terminal-notifier"
#export NOTIFY_COMMAND_COMPLETE_TIMEOUT=10

#==============================
#  rbenv
#==============================
# Load rbenv automatically
eval "$(rbenv init -)"

#==============================
#  autojump
#==============================
[[ -s $(brew --prefix)/etc/autojump.sh ]] && . $(brew --prefix)/etc/autojump.sh

#============================================================
#  Incremental completion on zsh
#  (http://mimosa-pudica.net/zsh-incremental.html)
#============================================================
if [[ -s "${ZSH_HOME}/incr/incr-0.2.zsh" ]]; then
  #source "${ZSH_HOME}/incr/incr-0.2.zsh"
fi

