[user]
	name  = skatsuta
	email = katsuta_soshi@cyberagent.co.jp
[color]
	ui = true
[push]
  default = simple
[merge]
	ff = false
[core]
	editor = vim
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true

